# Archivos de ayuda y docs
HELP.md

# Compilación Java
target/
build/
*.class

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# Logs
logs/
*.log

# Archivos temporales del sistema
*.tmp
*.swp
.DS_Store
Thumbs.db
Desktop.ini

# Archivos de configuración local
application-local.properties
certificados/
*.p12

# IDEs
## IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

## NetBeans
nb-configuration.xml
nb-*.xml
/nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

## STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## VSCode
.vscode/

# Backups / caché
*.bak

# Evitar accidentalmente agregar sub-builds dentro de src
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/